/* Css reset */

/*
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	line-height: 1;
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

/* Utility */

.clear-both {
	clear: both;
}

/* Header */

/* Body */
* {
	box-sizing: border-box;
}
#github-image {
	width: 60px;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0;
}

#wrapper {
	display: flex;
	flex-direction: row;
	padding: 2em;
	max-width: 60em;
	margin: auto ;
}

#numberWrapper {
	/margin-top: 2em;
	height: 100%;
	width: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form {
	display: table;
	margin: auto;
}

.form label {
	position: relative;
	display: block;
}

.form label input {
	font-size: 18px;
	box-sizing: border-box;
	display: block;
	border: none;
	padding: 20px;
	width: 300px;
	margin-bottom: 10px;
	font-size: 18px;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.form label input::-webkit-input-placeholder {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #999;
	font-size: 18px;
}

.form label input::-moz-placeholder {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #999;
	font-size: 18px;
}

.form label input:-ms-input-placeholder {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #999;
	font-size: 18px;
}

.form label input::placeholder {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #999;
	font-size: 18px;
}

.form label input:focus, .form label input.populated {
	padding-top: 28px;
	padding-bottom: 12px;
}

.form label input:focus::-webkit-input-placeholder, .form label input.populated::-webkit-input-placeholder {
	color: transparent;
}

.form label input:focus::-moz-placeholder, .form label input.populated::-moz-placeholder {
	color: transparent;
}

.form label input:focus:-ms-input-placeholder, .form label input.populated:-ms-input-placeholder {
	color: transparent;
}

.form label input:focus::placeholder, .form label input.populated::placeholder {
	color: transparent;
}

.form label input:focus + span, .form label input.populated + span {
	opacity: 1;
	top: 10px;
}

.form label span {
	color: #35dc9b;
	font-size: .9em;
	position: absolute;
	top: 0px;
	left: 20px;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

button {
	-webkit-transition: background 0.2s ease-in-out;
	background: #1aaf75;
	transition: background 0.2s ease-in-out;
	font-size: 18px;
	border: none;
	color: #fff;
	padding: 16px 40px;
	outline:none;
	cursor:pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
	background: #109f67;
}

button:active {
	outline: none;
	box-shadow:.1em .1em 1em #9a9a9a inset;
}

#output {
	display: inline-block;
	font-size: 18px;
	border: none;
	background: white;
	color: #00aa68;
	padding: 16px 40px;
	float: left;
}

#output a {
	color: #00aa68;
	text-decoration: none;
}

#numberWrapper ul{
	/margin: .5em;
	list-style-type: none;
	background-color: white;
	color: #e64740;
	cursor: pointer;
}

#disallowed {
	margin-bottom: 10px;
}

#disallowed > li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 1em;
	display: inline-block;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}

#disallowed > li:hover {
	background-color: #f2f2f2;
}

#disallowed > .notice:hover {
	background-color: transparent;
}

.notice{
	color: #939393;
	font-size: .8em;
	letter-spacing: .05em;
}

#numberWrapper button {
	padding: 6px 16px;
	background: #e64740;
	font-size: 16px;
}

#numberWrapper button:hover {
	background: #db443e;
}

#names-wrapper {
	/margin: .5em;
	height: 100%;
	width: 50%;
}

#names-wrapper ul{
	text-align: left;
	/margin: .5em;
	list-style-type: none;
	background-color: white;
}

#names-wrapper li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: pointer;
	padding: 1em;
	display: block;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}

#names-wrapper li:hover {
	background-color: #f2f2f2;
}

#names {
	margin-top: 10px;
}

#clear-names-button {
	padding: 6px 16px;
	background: #e64740;
	font-size: 16px;
}

#clear-names-button:hover {
	background: #db443e;
}

#addButton {
	padding: 6px 16px;
	font-size: 16px;
}

#goButton {
	float: left;
}

#selectionBox {
	display: inline-block;
	margin: 20px auto;
}

/* Footer */
